[Unit]
Description=NetBox WSGI Service
Documentation=https://netboxlabs.com/docs/netbox/
After=network-online.target postgresql.service redis-server.service
Wants=network-online.target

[Service]
Type=exec
User=netbox
Group=netbox
WorkingDirectory=/opt/netbox/netbox
ExecStart=/opt/netbox/venv/bin/gunicorn \
    --pid /var/tmp/netbox.pid \
    --pythonpath /opt/netbox/netbox \
    --config /opt/netbox/gunicorn.py \
    netbox.wsgi
Restart=on-failure
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
